.action-button {
    margin-right: 5px !important;
}

.userList .table-heading {
    background: rgba(0, 0, 0, 0.5);
    color: white;
}

.userList .table td {
    vertical-align: middle;
    padding: 1rem 0.5rem;
}